html,
body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  margin: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-zone {
  margin: 2rem;
  align-self: flex-end;
  border: 1px solid #ff6961;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff6961;
  width: 100px;
  height: 100px;
}

.notes-board {
  height: 100%;
  overflow: hidden;
}

.whiteboard {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.note {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  text-overflow: ellipsis;
  overflow: auto;
  color: black;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input,
    textarea {
      padding: 0.5rem;
      border: 1px solid black;
      border-radius: 10px;
      background-color: transparent;
      color: black;
      resize: vertical;
    }

    label {
      font-size: 10px;
      font-weight: 500;
    }

    .field {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}

.edit-button {
  position: absolute;
  background-color: transparent;
  margin: 1rem;
  color: black;
  right: 0;
  top: 0;
}

.resize-border {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: nwse-resize;
}
